@media (max-width: 1280px) {
    .main {
        padding-left: 20px;
        padding-right: 20px;
        &__img {
            right: 10px;
        }
        &__content {
            margin-left: 75px;
        }
    }
}

@media (max-width: 1250px) {
    .about {
        padding-left: 20px;
        padding-right: 20px;
        .about__container {
            .about__img {
                img {
                    width: 550px;
                }
            }
        }
    }
    .products {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 35px;
        .products__container {
            h2 {
                text-align: center;
                font-size: 50px;
                margin-bottom: 40px;
            }
            .products__cards {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .services {
        padding-right: 20px;
        padding-left: 20px;
        .services__container {
            h2 {
                text-align: center;
            }
            .services__block {
                justify-content: space-evenly;
                .services__image {
                    img {
                        width: 500px;
                    }
                }
            }
        }
    }

    .delivery {
        padding-right: 20px;
        padding-left: 20px;
    }
    .reviews {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 40px;
        padding-bottom: 35px;
    }
    .contacts {
        padding-right: 20px;
        padding-left: 20px;
        .contacts__container {
            .contacts__block {
                .contacts__text {
                    .contacts__address {
                        font-size: 22px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1220px) {
    .main {
        padding-top: 60px;
        &__img {
            top: 100px;
            right: 100px;
            img {
                width: 500px;
            }
        }
        ul {
            margin-top: 45px;
        }
        &__content {
            margin-left: 60px;
            h1 {
                max-width: 470px;
            }
        }
        &__btn {
            margin-top: 60px;
        }   
    }
    
}

@media (max-width: 1230px) {
    .header {
        padding-right: 20px;
        &__container {
            justify-content: space-between;
            #menu {
                margin-left: 0;
                margin-right: 0;
            }
        }
        &__inf {
            margin-left: 0;
        }
        
    }
    
}

@media (max-width: 1120px) {
    .partners {
        padding-top: 35px;
        .partners__container {
            .partners__block {
                max-width: 600px;
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 1080px) {
    .main {
        &__img {
            display: none;
        }
        &__img2 {
            display: block;
            text-align: center;
            margin-top: 50px;
            img {
                width: 450px;
            }
        }
        &__container {
            justify-content: center;
        }
        &__content {
            margin-left: 0;
            h1 {
               text-align: center;
               font-size: 68px;
               line-height: 75px;
               max-width: 800px;
            }
        }
        ul {
            margin-left: auto;
            margin-right: auto;
            max-width: 510px;
            height: 235px;
            li {
                font-size: 30px;
                img {
                    width: 50px;
                    &.third {
                        margin-left: 12px;
                    }
                }
            }
        }
        &__btn {
            margin-top: 70px;
            a { 
                margin: 0 auto;
                width: 510px;
                font-size: 28px;
                padding: 30px;
            }
        }
    }

    .services {
        padding-top: 45px;
        .services__container {
            h2 {
                margin-bottom: 40px;
            }
            .services__block {
                flex-direction: column-reverse;
                text-align: center;
                .services__text {
                    .services__text__words {
                        max-width: 592px;
                        margin-bottom: 62px;
                        font-size: 20px;
                        line-height: 36px;
                    }

                }
                .services__image {
                    margin-bottom: 50px;
                    img {
                        width: 450px;
                    }
                }
            }
        }

    }
}

@media (max-width: 1030px) {
    .slick-prev, .slick-next  {
        top: -30px;
    }
}

@media (max-width: 1025px) {
    .delivery {
        padding-top: 30px;
        .delivery__container {
            h2 {
                font-size: 30px;
                margin-bottom: 25px;
            }
            text-align: center;
            table {
                td {
                    font-size: 35px;
                }
                thead {
                    td {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
                tbody {
                    td {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
            .delivery__text {
                font-size: 23px;
                line-height: 33px;
                max-width: 567px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

}

@media (max-width: 1024px) {
    .header {
        padding-top: 10px;
        &__container {
            .header__logo {
                order: 1;
            }
            .header__icons {
                order: 2;
            }

            .header__inf {
                order: 3;
            }

            #burger {
                order: 4;
                display: block;
                svg {
                    width: 36px;
                    height: 36px;
                    fill: #fad7a7;
                }
            }
            #menu {
                z-index: 4;
                display: none;
                position: fixed;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin: 0;
                padding-top: 30px;
                background: #000000c7;
                top: 0;
                left: 0;
                svg {
                    display: block;
                    width: 24px;
                    fill: rgb(164, 107, 0);
                    position: absolute;
                    top: -170px;
                    left: 20px;
                }
                &.open {
                    display: flex;
                }
                a {
                    margin: 15px 5px;
                    font-size: 16px;
                    color: rgb(164, 107, 0);
                    line-height: 1.2;
                }
            
            
            }
        }
    }


    .about {
        .about__container {
            .about__text {
                font-weight: 800;
            }
            .about__img {
                position: absolute; /*вырываем из потока элементов*/
                z-index: -1;
                right: calc(50% - 400px);
                img {
                    width: 625px;
                    opacity: 0.7;
                }
            }
        }
    }
    
}

@media (max-width: 990px) {
    .contacts {
        padding-top: 40px;
        padding-bottom: 60px;
        .contacts__container {
            h2 {
                text-align: center;
                margin-bottom: 40px;
            }
            .contacts__block {
                flex-direction: column;
                align-items: center;
                .contacts__img {
                    width: 400px;
                }
                .contacts__text {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        width: 80%;
    }
    #accordion div {
        width: 80%;
    }
}

@media (max-width: 860px) {
    .ui-icon-triangle-1-e {
        width: 25px;
        margin-left: 10px;
    }
    .ui-state-active .ui-icon, .ui-button:active .ui-icon {
        width: 25px;
    }
}

@media (max-width: 840px) {
    .main {
        padding-bottom: 60px;
        padding-top: 30px;
        &__content {
            h1 {
                font-size: 50px;
                line-height: 60px;
            }
        }
    }
    .about {
        .about__container {
            .about__img {
                right: calc(50% - 330px);
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__inf {
            display: none;
        }
        &__icons {
            display: none;
        }
    }

}

@media (max-width: 665px) {
    .about {
        padding-top: 40px;
        padding-bottom: 20px;
        .about__container {
            .about__text {
                h2 {
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 25px;
                }
                p {
                    text-align: center;
                    font-size: 13px;
                    line-height: 24px;
                    margin-bottom: 28px;
                    font-weight: 500;
                }
            }
            .about__img {
                display: none;
            }
        }
    }
    .questions-title {
        margin-bottom: 10px;
        font-size: 20px;
    }
    .ui-accordion .ui-accordion-header {
        font-size: 16px;
    }
}

@media (max-width: 630px) {
    .main {
        &__content {
            h1 {
                font-size: 40px;
                line-height: 50px;
            }
        }
        &__img2 {
           img {
               width: 350px;
           }
        }
        ul {
            width: 480px;
            height: 190px;
            li {
                font-size: 25px;
                &.one, &.two {
                    justify-content: center;
                }
                &.two {
                    margin-left: 10px;
                }
                &.three {
                    margin-left: 39px;
                }
                img {
                    width: 40px;

                }
            }
        }
        &__btn {
            a {
                width: 420px;
                font-size: 23px;
                padding: 26px;
            }
        }
    }
    
}

@media (max-width: 600px) {
    .ui-icon-triangle-1-e {
        width: 55px;
    }
    .ui-state-active .ui-icon, .ui-button:active .ui-icon {
        width: 55px;
    }
    .section {
        height: 142px;
    }
    .products {
        .products__container {
            .products__cards {
                .products__card {
                    width: 272px;
                    margin: 0;
                    padding: 25px 15px 15px;
                    margin-bottom: 35px;
                    .products__card__block {
                        text-align: center;
                        display: block;
                        .drop__img {
                            height: 90px;
                        }
                        span {
                            display: inline-block;
                            &.block {
                                margin-top: 15px;
                            }
                            &.drop {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .delivery {
        padding-top: 15px;
        .delivery__container {
            .delivery__text {
                font-size: 16px;
                line-height: 25px;
                margin-bottom: 30px;
            }
            table {
                td {
                    font-size: 16px;
                }
                tbody {
                    td {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
    .reviews {
        padding-top: 15px;
        .reviews-container {
            h2 {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    .slides img {
        width: 160px;
    }
}

@media (max-width: 580px) {
    .partners {
        padding-left: 20px;
        padding-right: 20px;
        .partners__container {
            h2 {
                font-size: 31px;
                margin-bottom: 25px;
            }
        }
    }
}

@media (max-width: 510px) {
    .main {
        padding-top: 18px;
        padding-bottom: 30px;
        &__content {
            h1 {
                font-size: 23px;
                line-height: 31px;
                max-width: 300px;
            }
        }
        &__img2 {
           img {
               width: 270px;
           }
        }
        ul {
            width: 270px;
            height: 160px;
            li {
                font-size: 17px;
                line-height: 20px;
                &.two {
                    margin-left: 0;
                }
                &.three {
                    margin-left: 0;
                }
                img {
                    &.third {
                        margin-left: 7px;
                    }
                }
            }
        }
        &__btn {
            margin-top: 40px;
            a {
                width: 260px;
                font-size: 17px;
                padding: 22px;
            }
        }
    }

    .services {
        padding-top: 30px;
        padding-bottom: 45px;
        .services__container {
            h2 {
                margin-bottom: 25px;
            }
            .services__block {
                .services__text {
                    .services__text__words {
                        margin-bottom: 42px;
                        font-size: 20px;
                        line-height: 27px;
                    }
                }
                .services__image {
                    margin-bottom: 25px;
                    img {
                        width: 265px;
                    }
                }
            }
        }
    }
}

@media (max-width: 445px) {
    .slick-prev, .slick-next  {
        top: -75px;
    }
    .contacts {
        padding-top: 40px;
        .contacts__container {
            h2 {
                font-size: 35px;
                margin-bottom: 30px;
            }
            .contacts__block {
                .contacts__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    height: 200px;
                    .contacts__icons {
                        padding-left: 0;
                    }
                    .contacts__address {
                        padding-top: 0;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                .contacts__img {
                    width: 280px;
                }
            }
        }
    }
}