@charset "UTF-8";
@media (max-width: 1280px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main__img {
    right: 10px;
  }
  .main__content {
    margin-left: 75px;
  }
}

@media (max-width: 1250px) {
  .about {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about .about__container .about__img img {
    width: 550px;
  }
  .products {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
    padding-bottom: 35px;
  }
  .products .products__container h2 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 40px;
  }
  .products .products__container .products__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services {
    padding-right: 20px;
    padding-left: 20px;
  }
  .services .services__container h2 {
    text-align: center;
  }
  .services .services__container .services__block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .services .services__container .services__block .services__image img {
    width: 500px;
  }
  .delivery {
    padding-right: 20px;
    padding-left: 20px;
  }
  .reviews {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .contacts {
    padding-right: 20px;
    padding-left: 20px;
  }
  .contacts .contacts__container .contacts__block .contacts__text .contacts__address {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 1230px) {
  .header {
    padding-right: 20px;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__container #menu {
    margin-left: 0;
    margin-right: 0;
  }
  .header__inf {
    margin-left: 0;
  }
}

@media (max-width: 1220px) {
  .main {
    padding-top: 60px;
  }
  .main__img {
    top: 100px;
    right: 100px;
  }
  .main__img img {
    width: 500px;
  }
  .main ul {
    margin-top: 45px;
  }
  .main__content {
    margin-left: 60px;
  }
  .main__content h1 {
    max-width: 470px;
  }
  .main__btn {
    margin-top: 60px;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 75px;
  }
  .footer .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__container .footer__text {
    text-align: center;
    display: block;
    height: 60px;
    max-width: 584px;
  }
  .footer .footer__container .footer__text :first-child {
    font-size: 28px;
  }
}

@media (max-width: 1120px) {
  .partners {
    padding-top: 35px;
  }
  .partners .partners__container .partners__block {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: 1096px) {
  .delivery .delivery__container .delivery__text {
    max-width: 849px;
  }
}

@media (max-width: 1080px) {
  .main__img {
    display: none;
  }
  .main__img2 {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .main__img2 img {
    width: 450px;
  }
  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__content {
    margin-left: 0;
  }
  .main__content h1 {
    text-align: center;
    font-size: 68px;
    line-height: 75px;
    max-width: 800px;
  }
  .main ul {
    margin-left: auto;
    margin-right: auto;
    max-width: 510px;
    height: 235px;
  }
  .main ul li {
    font-size: 30px;
  }
  .main ul li img {
    width: 50px;
  }
  .main ul li img.third {
    margin-left: 12px;
  }
  .main__btn {
    margin-top: 70px;
  }
  .main__btn a {
    margin: 0 auto;
    width: 510px;
    font-size: 28px;
    padding: 30px;
  }
  .services {
    padding-top: 45px;
  }
  .services .services__container h2 {
    margin-bottom: 40px;
  }
  .services .services__container .services__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .services .services__container .services__block .services__text .services__text__words {
    max-width: 592px;
    margin-bottom: 62px;
    font-size: 20px;
    line-height: 36px;
  }
  .services .services__container .services__block .services__image {
    margin-bottom: 50px;
  }
  .services .services__container .services__block .services__image img {
    width: 450px;
  }
}

@media (max-width: 1040px) {
  .footer .footer__container .footer__text :first-child {
    font-size: 30px;
  }
  .footer .footer__container .footer__text :last-child {
    font-size: 15px;
  }
}

@media (max-width: 1030px) {
  .slick-prev, .slick-next {
    top: -30px;
  }
}

@media (max-width: 1025px) {
  .delivery {
    padding-top: 30px;
  }
  .delivery .delivery__container {
    text-align: center;
  }
  .delivery .delivery__container h2 {
    margin-bottom: 25px;
  }
  .delivery .delivery__container .delivery__text {
    font-size: 23px;
    line-height: 33px;
    max-width: 567px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }
  .strelka a {
    right: 25px;
    bottom: 142px;
  }
  #phone1 {
    width: 70px;
    height: 70px;
    right: 20px;
  }
  #phone1 img {
    width: 30px;
  }
  #phone1::before {
    width: 70px;
    height: 70px;
  }
  .reviews .reviews-container h2 {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .header {
    padding-top: 10px;
  }
  .header__container .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__container .header__icons {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header__container .header__inf {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__container #burger {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: block;
  }
  .header__container #burger svg {
    width: 36px;
    height: 36px;
    fill: #fad7a7;
  }
  .header__container #menu {
    z-index: 4;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0;
    padding-top: 65px;
    background: #000000c7;
    top: 0;
    left: 0;
  }
  .header__container #menu svg {
    display: block;
    width: 24px;
    fill: #e8d70e;
    position: absolute;
    top: -175px;
    left: 35px;
  }
  .header__container #menu.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__container #menu a {
    margin: 15px 5px;
    font-size: 25px;
    color: #e8d70e;
    line-height: 1.2;
  }
  .about .about__container .about__text {
    font-weight: 800;
  }
  .about .about__container .about__img {
    position: absolute;
    /*вырываем из потока элементов*/
    z-index: -1;
    right: calc(50% - 400px);
  }
  .about .about__container .about__img img {
    width: 625px;
    opacity: 0.7;
  }
}

@media (max-width: 990px) {
  .contacts {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .contacts .contacts__container h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .contacts .contacts__container .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .contacts__container .contacts__block .contacts__img {
    width: 400px;
  }
  .contacts .contacts__container .contacts__block .contacts__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 980px) {
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    width: 80%;
  }
  #accordion div {
    width: 80%;
  }
}

@media (max-width: 860px) {
  .ui-icon-triangle-1-e {
    width: 25px;
    margin-left: 10px;
  }
  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    width: 25px;
  }
}

@media (max-width: 840px) {
  .main {
    padding-bottom: 60px;
    padding-top: 30px;
  }
  .main__content h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .about .about__container .about__img {
    right: calc(50% - 330px);
  }
}

@media (max-width: 768px) {
  .header__inf {
    display: none;
  }
  .header__icons {
    display: none;
  }
}

@media (max-width: 767px) {
  #reservation #reserve {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 0;
  }
  #reservation-container {
    overflow: scroll;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
  #reservation-container #reservation {
    max-width: 320px;
    padding: 35px;
  }
  #reserve-button {
    margin-top: 20px;
  }
}

@media (max-width: 665px) {
  .about {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .about .about__container .about__text h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px;
  }
  .about .about__container .about__text p {
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 28px;
    font-weight: 500;
  }
  .about .about__container .about__img {
    display: none;
  }
  .questions-title {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .ui-accordion .ui-accordion-header {
    font-size: 16px;
  }
}

@media (max-width: 630px) {
  .main__content h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .main__img2 img {
    width: 350px;
  }
  .main ul {
    width: 480px;
    height: 190px;
  }
  .main ul li {
    font-size: 25px;
  }
  .main ul li.one, .main ul li.two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main ul li.two {
    margin-left: 10px;
  }
  .main ul li.three {
    margin-left: 39px;
  }
  .main ul li img {
    width: 40px;
  }
  .main__btn a {
    width: 420px;
    font-size: 23px;
    padding: 26px;
  }
}

@media (max-width: 600px) {
  .ui-icon-triangle-1-e {
    width: 55px;
  }
  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    width: 55px;
  }
  .section {
    height: 142px;
  }
  .products .products__container .products__cards .products__card {
    width: 272px;
    margin: 0;
    padding: 25px 15px 15px;
    margin-bottom: 35px;
  }
  .products .products__container .products__cards .products__card .products__card__block {
    text-align: center;
    display: block;
  }
  .products .products__container .products__cards .products__card .products__card__block .drop__img {
    height: 90px;
  }
  .products .products__container .products__cards .products__card .products__card__block span {
    display: inline-block;
  }
  .products .products__container .products__cards .products__card .products__card__block span.block {
    margin-top: 15px;
  }
  .products .products__container .products__cards .products__card .products__card__block span.drop {
    margin-top: 20px;
  }
  .delivery {
    padding-top: 15px;
  }
  .delivery .delivery__container .delivery__text {
    font-size: 16px;
    line-height: 25px;
  }
  .reviews {
    padding-top: 15px;
  }
  .reviews .reviews-container h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  .slides img {
    width: 160px;
  }
  .footer {
    padding-bottom: 60px;
  }
  .footer .footer__container .footer__text :first-child {
    line-height: 29px;
    font-size: 24px;
  }
  .footer .footer__container .footer__text :last-child {
    line-height: 45px;
    font-size: 11px;
  }
  .strelka a {
    right: 10px;
    width: 50px;
    height: 50px;
  }
  .strelka a img {
    top: 18px;
    left: 14px;
  }
  #phone1 {
    width: 50px;
    height: 50px;
    right: 10px;
  }
  #phone1 img {
    width: 23px;
    position: absolute;
    top: 14px;
    right: 13px;
  }
  #phone1::before {
    width: 50px;
    height: 50px;
  }
  .reviews__text div {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 580px) {
  .partners {
    padding-left: 20px;
    padding-right: 20px;
  }
  .partners .partners__container h2 {
    font-size: 31px;
    margin-bottom: 25px;
  }
}

@media (max-width: 510px) {
  .main {
    padding-top: 18px;
    padding-bottom: 30px;
  }
  .main__content h1 {
    font-size: 23px;
    line-height: 31px;
    max-width: 300px;
  }
  .main__img2 img {
    width: 270px;
  }
  .main ul {
    width: 270px;
    height: 160px;
  }
  .main ul li {
    font-size: 17px;
    line-height: 20px;
  }
  .main ul li.two {
    margin-left: 0;
  }
  .main ul li.three {
    margin-left: 0;
  }
  .main ul li img.third {
    margin-left: 7px;
  }
  .main__btn {
    margin-top: 40px;
  }
  .main__btn a {
    width: 260px;
    font-size: 17px;
    padding: 22px;
  }
  .services {
    padding-top: 30px;
    padding-bottom: 45px;
  }
  .services .services__container h2 {
    margin-bottom: 25px;
  }
  .services .services__container .services__block .services__text .services__text__words {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 27px;
  }
  .services .services__container .services__block .services__image {
    margin-bottom: 25px;
  }
  .services .services__container .services__block .services__image img {
    width: 265px;
  }
}

@media (max-width: 445px) {
  .slick-prev, .slick-next {
    top: -75px;
  }
  .contacts {
    padding-top: 40px;
  }
  .contacts .contacts__container h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contacts .contacts__container .contacts__block .contacts__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    height: 200px;
  }
  .contacts .contacts__container .contacts__block .contacts__text .contacts__icons {
    padding-left: 0;
  }
  .contacts .contacts__container .contacts__block .contacts__text .contacts__address {
    padding-top: 0;
    font-size: 18px;
    line-height: 28px;
  }
  .contacts .contacts__container .contacts__block .contacts__img {
    width: 280px;
  }
}

@media (max-width: 360px) {
  .footer {
    padding-bottom: 75px;
  }
}
