body {
    margin: 0;
    padding: 0;
    font-family:  Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 30px;
    &__container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        align-items: center;
        #burger {
            display: none;
        }
        #menu {
            margin-left: 105px;
            margin-right: 98px;
            display: flex;
            width: 461px;
            justify-content: space-between;
            svg {
                display: none;
            }
                
            a {
                font-size: 15px;
                color: #2b2222;
                padding-bottom: 10px;
                border-bottom: 1px solid transparent;
                &:hover {
                    border-bottom: 1px solid rgb(0, 0, 0);
                    color: black;
                }
            
            
            }
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        width: 210px;
        justify-content: space-between;
        div {
            background-image: url(../images/logo-back.svg);
            background-position: center;
            background-size: cover;
            width: 67px;
            height: 52.5px;
            position: relative;
            img {
                position: absolute;
                top: 9px;
                left: 18px;
            }
        }
        span {
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 0.065em;
            text-transform: uppercase;
            color: #000000;
            margin-bottom: 13px;
        }
    }
    &__icons {
        display: flex;
        width: 75px;
        justify-content: space-between;
        a {
            svg {
                width: 27px;
                height: 27px;
            }
        }
    }
    &__inf {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 86px;
        height: 38px;

        font-weight: 600;
        font-size: 15px;
        color: #000000;
    }
}

.main {
    padding-top: 110px;
    padding-bottom: 100px;
    &__container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        position: absolute;
        right: -20px;
        img {
            width: 700px;
        }
    }
    &__img2 {
        display: none;
    }
    &__content {
        margin-left: 0;
        h1 {
            margin: 0;
            max-width: 412px;
            font-weight: bold;
            font-size: 40px;
            line-height: 49px;
            color: #000000;
        }
    }
    ul {
        margin: 0;
        margin-top: 30px;
        padding: 0;
        max-width: 420px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li {
            align-items: center;
            list-style: none;
            display: flex;
            font-size: 19px;
            img {
                margin-right: 10px;
                &.third {
                    margin-right: 15px;
                }
            }
        }
    }
    &__btn {
            margin-top: 30px;
        a {
            background: linear-gradient(102.4deg, #F52557 36.84%, #ED1C4E 74.32%);
            box-shadow: 0 7px 35px rgba(242, 34, 84, 0.42);
            border-radius: 110px;
            padding: 23px;
            text-align: center;
            box-sizing: border-box;
            width: 265px;
            display: block;

            font-weight: bold;
            font-size: 17px;
            color: #FFFFFF;
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.content {
    background: linear-gradient(124.13deg, #F4CB38 10.97%, #F4A938 77.98%);
}

//about
.about {
    padding: 80px 0;
    .about__container {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        align-items: center;
        .about__text {
            h2 {
                margin: 0;
                font-weight: 800;
                font-size: 40px;
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            p {
                margin: 0;
                font-size: 19px;
                line-height: 31px;
                margin-bottom: 40px;
            }
        }
        .about__img {
            img {
                width: 600px;
            }
        }
    }
}

/* questions */

.questions {
    padding-bottom: 65px;
}

.questions-container {
    max-width: 1200px;
    margin: 0 auto;
}

.questions-title {
    text-align: center;
    margin-bottom: 45px;
    padding: 0 20px;
}

.section {
    width: 928px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    font-family: "MullerBold", sans-serif;
    border-radius: 10px;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 30px 32px 29px 25px;
    box-sizing: border-box;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url(../images/Vector.png);
    width: 18px;
    height: 12px;
}

.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon {
    background-image: url(../images/Vector.png);
}

.ui-icon {
    width: 28px;
    height: 18px;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    border-radius: 10px 10px 0 0;
}

.ui-icon-triangle-1-s  {
    background-position: 0;
}

#accordion div {
    width: 928px;
    box-sizing: border-box;
    border-color: #FCF2F2;
}

.ui-accordion-content-active.ui-accordion-content .ui-corner-bottom .ui-helper-reset .ui-widget-content {
    height: 0;
}

#accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui-state-active{
    outline: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #EB4A4A;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url(../images/Vector.png);
    width: 18px;
    height: 12px;
}

.ui-icon-triangle-1-e {
    top: 5px;
    background-position: 0;
    margin-left: 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0;
}

//products
.products {
    background: #AEAEAE;
    padding: 95px 0 125px;
    .products__container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            margin: 0;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 60px;
        }
        .products__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .products__card {
                width: 364px;
                background: #F5B339;
                box-sizing: border-box;
                padding: 50px 25px 80px 32px;
                height: 277px;
                margin: 15px;
                h2 {
                    margin: 0;
                    font-weight: bold;
                    font-size: 36px;
                    text-align: center;
                }
                .products__card__block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 15px;
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

.services {
    padding: 65px 0 110px;
    .services__container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            margin: 0;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 62px;
        }
        .services__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .services__text {
                .services__text__words {
                    max-width: 550px;
                    margin-bottom: 62px;
                    font-size: 19px;
                    line-height: 31px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .services__image {
                img {
                    width: 565px;
                }
            }
        }
    }
}

.delivery {
    background: #F7C137;
    padding: 80px 0 55px;
    .delivery__container {
        max-width: 1170px;
        margin: 0 auto;
        h2 {
            margin: 0;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 35px;
        }
        .delivery__text {
            max-width: 1005px;
            margin-bottom: 40px;
            font-size: 30px;
            line-height: 44px;
        }
        table {
            text-align: center;
            border: 2px solid black;
            thead {
                background: rgba(189, 159, 159, 0.86);
                td {
                    padding: 12px 0;
                }
            }
            tbody {
                background: rgba(255, 255, 255, 0.86);
                td {
                    padding: 32px 0;

                }
            }
            td {
                font-weight: 300;
                font-size: 40px;
            }
        }
    }

}

/* main */
.reviews {
    padding: 80px 0 120px;
    .reviews-container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            margin: 0;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 50px;
        }
    }
}

.slides img {
    margin: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border-radius: 50%;
}

.slick-prev:before  {
    content: url('../images/Vector (2).png');
}

.slick-next:before {
    content: url('../images/Vector (3).png');
}

.slick-prev, .slick-next  {
    position: relative;
    left: 0;
    top: 15px;
}

.slick-prev {
    left: -10px;
}

.slick-next {
    left: 5px;
}

.slick-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews__text p {
    margin: 0;
    text-align: center;
    margin-top: 30px;
    max-width: 357px;
    padding: 0 15px 15px;
    margin-left: auto;
    margin-right: auto;
}


.contacts {
    padding: 95px 0 100px;
    background: #EBEBEB;
    .contacts__container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            margin: 0;
            font-weight: 600;
            font-size: 40px;
        }
        .contacts__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .contacts__text {
                display: grid;
                grid-template-columns: 185px 185px;
                .contacts__icons {
                    display: flex;
                    width: 75px;
                    justify-content: space-between;
                    padding-left: 35px;
                    a {
                        svg {
                            width: 27px;
                            height: 27px;
                        }
                    }
                }
                .contacts__number {
                    .phone, .email {
                        font-size: 18px;
                    }
                }
                .contacts__address {
                    font-weight: 300;
                    font-size: 29px;
                    line-height: 39px;
                    grid-area: 2 / 1 / 3 / 3;
                    padding-top: 20px;
                }
            }
        }
    }
}

.partners {
    padding: 75px 0 57px;
    background: #EB4A4A;
    .partners__container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            margin: 0;
            text-align: center;
            font-weight: 800;
            font-size: 40px;
            margin-bottom: 47px;
        }
        .partners__block {
            padding: 0 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img {
                margin: 0 35px;
                width: 200px;
            }
        }
    }
}

.footer {
    background: #F5C139;
    padding: 55px 0 47px;
    .footer__container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .footer__logo {
            margin-right: 75px;
            display: flex;
            align-items: center;
            width: 210px;
            justify-content: space-between;
            div {
                background-image: url(../images/logo-back.svg);
                background-position: center;
                background-size: cover;
                width: 67px;
                height: 52.5px;
                position: relative;
                img {
                    position: absolute;
                    top: 9px;
                    left: 18px;
                }
            }
            span {
                font-weight: 900;
                font-size: 18px;
                letter-spacing: 0.065em;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 13px;
            }
        }
        .footer__text {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 75px;
            justify-content: space-between;
            :first-child {
                font-size: 36px;
                line-height: 44px;
            }
            :last-child {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

.strelka a {
    margin: 0;
    text-decoration: none;
    display: block;

    border-radius: 50%;
    background-color: rgb(244, 222, 180);
    position: fixed;
    width: 58px;
    z-index: 75;
    height: 58px;
    bottom: 185px;
    right: 65px;
}

.strelka a img {
    position: absolute;
    top: 19px;
    left: 18px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

#phone {
    background: radial-gradient(50% 50% at 50% 50%, #0176FF 0%, #72B3FF 100%);
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

#phone::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(50% 50% at 50% 50%, #0176FF 0%, #72B3FF 100%);
    z-index: -1;
    animation: pulse2 1s infinite;
    border-radius: 50%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulse2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}







